<div ng-show="opened" class="ng-hide modal fade in" role="dialog" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" style="display: block;">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" ng-click="internalControl.close()">
               <span aria-hidden="true">×</span>
            </button> 
            <h4 class="modal-title" id="myModalLabel">Detalhes do lançamento</h4>
         </div>
         <div class="modal-body">
            <form ng-submit="internalControl.addTransaction()">
               <div class="form-group">
                  <input type="text" placeholder="Descrição" class="form-control" ng-model="internalControl.formData.description" />
               </div>
               <div class="form-group">
                  <input type="text" placeholder="Valor" class="form-control" ng-model="internalControl.formData.value" />
               </div>
               <div class="form-group">
                  <input type="text"  placeholder="Data" 
                                      class="form-control" 
                                      ng-model="internalControl.formData.date"
                                      mask='39/19/9999' />
               </div>
               <div class="form-group">
                  <select class="form-control" 
                          ng-model="internalControl.formData.category_id"
                          ng-options="category.id as category.name for category in internalControl.categories track by category.id"></select>
               </div>
              <input type="submit" value="Adicionar transação" class="btn btn-primary" />
            </form>            
         </div>
      </div>
   </div>
</div>
