
<div class="form-container">
  <div class="server-message" ng-show="serverMessage">
    <span>{{ serverMessage }}</span>
  </div>
  <form name="loginForm" ng-submit="submit(loginForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && submitted }">
      <input type="email" name="email"
                          class="form-control"
                          placeholder="Email" ng-model="formData.email"
                          required>
      <p ng-show="loginForm.email.$invalid && submitted" class="help-block">Email inválido</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && submitted }">
      <input type="password" name="password" class="form-control" placeholder="Senha" ng-model="formData.password" required>
      <p ng-show="loginForm.password.$invalid && submitted" class="help-block">Senha inválida</p>
    </div>

    <button type="submit" class="btn btn-block btn-primary">Entrar</button>
    <div class="text-center">
      <span>Não possui uma conta? </span>
    </div>
    <div class="text-center">
      <a href="/signup">Cadastre-se gratuitamente</a>
    </div>
  </form>
</div>